*.egg-info
*.py[co]
*~
.ipynb_checkpoints
.mypy_cache/
__pycache__
data/*
test_data/*
supervisord.log
venv/*
env/*
docker/config.json
docker/deploy.log
docker/docker-compose.yml
docker/docker-compose.yml.dump
docker/docker-compose.yml.save-*
*.sqlite3
arch-eraser/*
