---
docker_elasticsearch_nodes:
  - name: es-node-01
    mc_es_http_port: 9219
    mc_es_transport_port: 9319
  - name: es-node-02
    mc_es_http_port: 9220
    mc_es_transport_port: 9320
  - name: es-node-03
    mc_es_http_port: 9221
    mc_es_transport_port: 9321

# Elasticsearch Configuration as per Ansible role
es_data_dirs: ["/usr/share/elasticsearch/data"]
es_heap_size: "10g"
es_log_dir: "/var/log/elasticsearch"
es_templates: false
es_templates_fileglob: ""

mc_es_seed_hosts:
  - es-node-01
  - es-node-02
  - es-node-03

# Use different variable name instead of modifying Ansible default hash_behavior on merging dictionaries
# https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-hash-behaviour
staging_es_config:
  network.publish_host: "_eth0_"

# We want to bind all volumes to /srv/data on Staging Hosts
volume_device_prefix: "/srv/data/docker/elasticsearch"
