{
    "schedule": "0 30 1 1,15 * ?",
    "name": "<snapshot-{now/d}>",
    {% if es_snapshot_repository_name is defined %}
        "repository": "{{ es_snapshot_repository_name }}",
    {% endif %}
    "config": {
        "indices": ["mc_search-*"],
        "ignore_unavailable": true,
        "include_global_state": true
    },
    "retention": {
        "min_count": 5,
        "max_count": 10
    }
}
