{
    "schedule": "0 30 1 1,15 * ?",
    "name": "<snapshot-{now/d}>",
    {% if sourced_env.ELASTICSEARCH_NEWSSCRIBE_SNAPSHOT_REPO is defined %}
        "repository": "{{ sourced_env.ELASTICSEARCH_NEWSSCRIBE_SNAPSHOT_REPO }}",
    {% endif %}
    "config": {
        "indices": ["mc_search-*"],
        "ignore_unavailable": true,
        "include_global_state": true
    },
    "retention": {
        "min_count": 5,
        "max_count": 10
    }
}
