{
    "index_patterns": "{{ es_index_pattern | default('mc_search-*') }}",
    "template": {
        "settings": {
            "index.lifecycle.name": "{{ mc_es_ilm_policy_name | default('mediacloud-lifecycle-policy') }}",
            "index.lifecycle.rollover_alias": "{{ mc_es_index_alias | default('mc_search') }}",
            "number_of_shards": {{ mc_es_shards | default(12) }},
            "number_of_replicas": {{ mc_es_replicas | default(1) }}
        },
        "mappings": {
            "dynamic": {{ mc_es_mappings_dynamic | default('false') }},
            "properties": {
                "article_title": {
                    "type": "text"
                },
                "canonical_domain": {
                    "type": "keyword"
                },
                "indexed_date": {
                    "type": "date_nanos"
                },
                "language": {
                    "type": "keyword"
                },
                "publication_date": {
                    "type": "date",
                    "ignore_malformed": true
                },
                "text_content": {
                    "type": "text"
                },
                "url": {
                    "type": "wildcard"
                }
            }
        }
    }
}
