{
  "source": {
    "remote": {
      "host": "{{ es_api_scheme }}://{{ mc_es_remote_cluster_host }}:{{ mc_es_remote_cluster_port }}"
    },
    "index": "{{ source_index }}",
    "size": {{ es_reindex_batch_size }},
    "_source": ["article_title", "canonical_domain", "indexed_date", "language", "publication_date","text_content", "url"],
    "query": {
      "range": {
        "indexed_date": {
          "gte": "{{ mc_reindex_date_from }}",
          "lte": "{{ mc_reindex_date_to }}"
        }
      }
    }
  },
  "dest": {
    "index": "{{ dest_index }}"
  }
}
