{
    "type": "s3",
    "settings": {
        {% if sourced_env.ELASTICSEARCH_NEWSSCRIBE_SNAPSHOT_REPO_SETTINGS_BUCKET is defined %}
            "bucket": "{{ sourced_env.ELASTICSEARCH_NEWSSCRIBE_SNAPSHOT_REPO_SETTINGS_BUCKET }}",
        {% endif %}
         {% if sourced_env.ELASTICSEARCH_NEWSSCRIBE_SNAPSHOT_REPO_SETTINGS_ENDPOINT is defined %}
            "endpoint": "{{ sourced_env.ELASTICSEARCH_NEWSSCRIBE_SNAPSHOT_REPO_SETTINGS_ENDPOINT }}"
        {% endif %}
    }
 }
