---
prod_es_config:
  network.host: "{{ mc_es_network_host | default('_eno12399np0_') }}"
# Elasticsearch Configuration as per Ansible role
es_data_dirs: ["/data/elasticsearch/data"]
es_heap_size: 32767m    # 1m short of 32g
es_log_dir: "/data/elasticsearch/logs"
es_templates: false
es_templates_fileglob: ""
es_version: 8.17.3
es_version_lock: true

# MC Specific Variables (prefixed with mc_)
mc_es_http_port: 9209
mc_es_ilm_max_age: "90d"
mc_es_ilm_max_docs: 200000000
mc_es_ilm_max_shard_size: "50gb"
mc_es_ilm_policy_name: "mediacloud-lifecycle-policy"
mc_es_index_alias: "mc_search"
mc_es_network_host:  # referenced in es_config but not defined?
mc_es_remote_cluster_hosts:
  - "ramos.angwin:9200"
  - "bradley.angwin:9200"
  - "woodward.angwin:9200"
mc_es_replicas: 1
mc_es_seed_hosts:
  - es01.newsscribe.angwin
  - es02.newsscribe.angwin
  - es03.newsscribe.angwin
mc_es_shards: 12
mc_es_snapshot_repo: "my_repo"
mc_es_snapshot_repo_type: "s3"
mc_es_snapshot_s3_bucket: "my_bucket"
mc_es_snapshot_s3_endpoint: "my_endpoint"
mc_es_transport_port: 9309
# PLEASE KEEP THIS FILE IN SORTED ORDER!
# (KEEP THIS LINE LAST!)
