version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3.11-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - mc_story_indexer
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 30s
      timeout: 10s
      retries: 2

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.8.0
    environment:
      - node.name=elasticsearch
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9300:9300
    networks:
      - mc_story_indexer
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:9200/_cluster/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 2

  importer_worker:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - WORKER=importer
    environment:
      - RABBITMQ_URL=amqp://rabbitmq:5672
      - ELASTICSEARCH_HOST=http://elasticsearch:9200/
    networks:
      - mc_elastic_network
    depends_on:
      rabbitmq:
        condition: service_healthy

  extract_worker:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - WORKER=extracter
    environment:
      - RABBITMQ_URL=amqp://rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy

volumes:
  elasticsearch_data:

networks:
  mc_story_indexer:
    driver: bridge
